body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

form {
    gap: 0.5rem;
    height: fit-content;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerForRadios {
    display: flex;
    gap: 2rem;

}

.insideContainerRadios {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Alldivs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.DivCheckBox {
    display: flex;
    gap: 5px;
}

.ContainerDivCheckBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 4px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 160, 0);
    color: white;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.radiosContainerExterno{
display: flex;
gap:0.5rem;
}

.botaoHelp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}